<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Coverage Dashboard</title>

    <link rel="stylesheet" href="static/css/pm.css">
</head>


<body>

    <div class="header">

        Coverage Dashboard

    </div>

    <a href="/dashboard" class="back-btn">
		← Dashboard
	</a>

    <div id="coverage-content">

        Loading Coverage...

    </div>

<script>

fetch("/coverage/summary")
.then(response => response.json())
.then(data => {

    let moduleHtml = "";

    data.modules.forEach(module => {

        moduleHtml += `
        <div style="margin-bottom:15px;">

            <div style="
                display:flex;
                justify-content:space-between;
                margin-bottom:5px;
            ">
                <span>${module.module}</span>
                <span>${module.processes} Processes</span>
            </div>

            <div style="
                width:100%;
                background:#ddd;
                height:18px;
                border-radius:5px;
            ">

                <div style="
                    width:${module.coverage}%;
                    background:#1e88e5;
                    height:18px;
                    border-radius:5px;
                ">
                </div>

            </div>

        </div>
        `;
    });

    document.getElementById("coverage-content").innerHTML = `

    <div class="summary-container">

        <div class="summary-card">
            <div class="summary-title">
                Total Processes
            </div>

            <div class="summary-value">
                ${data.total_processes}
            </div>
        </div>

        <div class="summary-card">
            <div class="summary-title">
                Total Process Steps
            </div>

            <div class="summary-value">
                ${data.total_steps}
            </div>
        </div>

        <div class="summary-card">
            <div class="summary-title">
                Automation Maturity
            </div>

            <div class="summary-value">
                ${data.automation_maturity}%
            </div>
        </div>

        <div class="summary-card">
            <div class="summary-title">
                SAP Modules
            </div>

            <div class="summary-value">
                ${data.modules.length}
            </div>
        </div>

    </div>

    <div class="module-container">

        <h2>Coverage Intelligence</h2>

        ${moduleHtml}

    </div>

    `;

})
.catch(error => {

    console.error(error);

    document.getElementById(
        "coverage-content"
    ).innerHTML = `
        <div style="color:red;">
            Failed to load dashboard.<br>
            ${error}
        </div>
    `;
});

</script>
</body>

</html>